!!! 5

%html
  %head
    %title #{self['title']} - Scrapple in Layout
    %link(rel="stylesheet" type="text/css" href="/css/scrapple.css")
    - (self['javascripts'] || []).each do |js|
      %script(type="text/javascript" src="#{js}")

  %body{:class => self['body_class']}
    .container
      .row
        .col.maincol
          = breadcrumbs
          - if self.type != "directory"
            %ul.action-links
              %li
                %a(href="#{self.path}/in/editor") Edit
              %li
                %a(href="#{self.path}/as/code") Code
          = yield
        .col.subcol
          = index
      .footer
        Powered by Scrapple
