- page = env['scrapple.page']
!!! 5

%html
  %head
    %title #{page['title'].try(:+, " - ")} #{page['site_name']}
    %link(rel="stylesheet" type="text/css" href="/css/scrapple.css")
    - (page['stylesheets'] || []).each do |css|
      %link(rel="stylesheet" type="text/css" href="#{css}")
    - (page['javascripts'] || []).each do |js|
      %script(type="text/javascript" src="#{js}")

  %body{:class => page['body_class']}
    .container
      .row
        .col.maincol
          = page.breadcrumbs
          - if page.type != "directory"
            %ul.action-links
              %li
                %a(href="#{page.path}/in/editor") Edit
              %li
                %a(href="#{page.path}/as/code") Code
          = yield
        .col.subcol
          = page.index(:trailing_slash => false)
        .col.subcol
          - if env['scrapple.user']
            Logged in as 
            %a(href="/auth/profile") #{env['scrapple.user'].username}
          - else
            %a(href="/auth/login") Log in
      .footer
        %pre=html_escape(env.pretty_inspect)
        %p Powered by Scrapple
        %p Rendered with #{env['scrapple.handler']}
