!!! 5

%html
  %head
    %title #{self['title'].try(:+, " - ")} #{self['site_name']}
    %link(rel="stylesheet" type="text/css" href="/css/scrapple.css")
    - (self['stylesheets'] || []).each do |css|
      %link(rel="stylesheet" type="text/css" href="#{css}")
    - (self['javascripts'] || []).each do |js|
      %script(type="text/javascript" src="#{js}")

  %body{:class => self['body_class']}
    .container
      .row
        .col.maincol
          = breadcrumbs
          - if self.type != "directory"
            %ul.action-links
              %li
                %a(href="#{self.path}/in/editor") Edit
              %li
                %a(href="#{self.path}/as/code") Code
          = yield
        .col.subcol
          = index(:trailing_slash => false)
      .footer
        Powered by Scrapple
