<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
        <title><%= title %></title>
	</head>
	<body>
		<h1>Compund</h1>
		<p><%= title %></p>
        <p>
            View as:
            <a href="<%=url("/#{path}/standard/view")%>">Standard</a> 
            <a href="<%=url("/#{path}/markdown/view")%>">Markdown</a>
            <a href="<%=url("/#{path}/raw/view")%>">Raw</a>
        </p>
		<hr>
        <%= content %>
	</body>
</html>
