:ruby
  page = env['scrapple.page']

  page['stylesheets'] ||= []
  page['stylesheets'] << "/css/clean.css"
  page['stylesheets'].uniq!

  page['javascripts'] ||= []
  page['javascripts'] << "/js/jquery.js"
  page['javascripts'] << "/js/bootstrap.min.js"
  page['javascripts'].uniq!

!!! 5

%html
  %head
    %title #{page['title'].try(:+, " - ")} #{page['site_name']}
    - page['stylesheets'].each do |css|
      %link(rel="stylesheet" type="text/css" href="#{css}")
    - page['javascripts'].each do |js|
      %script(type="text/javascript" src="#{js}")

  %body{:class => page['body_class']}
    .belt
      .container
        .row
          .span12
            - if page.type != "directory"
              %ul.actions
                %li
                  %a(href="#{page.path}/in/editor") Edit
                %li
                  %a(href="#{page.path}/as/code") Code
    .mainbulk
      .container
        .row
          .main
            .span8
              .content
                = yield
          .sidebar
            .span4
              .aside
                Hi.
        .row
          .span12
            .footer
              %p Powered by Scrapple
              %p Rendered with #{env['scrapple.handler']}
